In [15]:
import pandas as pd
import numpy as np
import glob
import os

In [28]:
all_data = pd.DataFrame()
for f in glob.glob(".\customer segmentation(rfm)\*.csv"):
    print(f)
    df = pd.read_csv(f)
    all_data = all_data.append(df,ignore_index=True)

.\customer segmentation(rfm)\customer_segmentation_100k.csv

C:\Users\Friends\AppData\Local\Temp\ipykernel_8892\2125400975.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df,ignore_index=True)

.\customer segmentation(rfm)\customer_segmentation_10k.csv

C:\Users\Friends\AppData\Local\Temp\ipykernel_8892\2125400975.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df,ignore_index=True)

.\customer segmentation(rfm)\customer_segmentation_500k.csv

C:\Users\Friends\AppData\Local\Temp\ipykernel_8892\2125400975.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df,ignore_index=True)

In [31]:
all_data

        customer_id  qtt_order  total_spent           last_order
0                 0         41    321785.93  2022-08-04 01:00:00
1                 1        126    185018.15  2022-09-17 11:00:00
2                 2          3    357434.58  2022-04-01 14:00:00
3                 3         74      2828.39  2022-02-15 18:00:00
4                 4        243     76092.70  2022-01-27 04:00:00
...             ...        ...          ...                  ...
609995       499995        482    253253.34  2022-09-25 22:00:00
609996       499996         44    122348.74  2022-07-09 01:00:00
609997       499997         83     46623.55  2022-07-15 16:00:00
609998       499998         49    140711.18  2022-10-01 08:00:00
609999       499999         20    158831.36  2022-05-16 01:00:00

[610000 rows x 4 columns]

In [33]:
def check_df(dataframe, head=5):
    print(" SHAPE ".center(70,'-'))
    print('Rows: {}'.format(dataframe.shape[0]))
    print('Columns: {}'.format(dataframe.shape[1]))
    print("Columns names : {}".format(list(dataframe.columns)))
    print(" TYPES ".center(70,'-'))
    print(dataframe.dtypes)
    print(" MISSING VALUES ".center(70,'-'))
    print(dataframe.isnull().sum())
    print(" DUPLICATED VALUES ".center(70,'-'))
    print(dataframe.duplicated().sum())
    print(" DESCRIBE ".center(70,'-'))
    print(dataframe.describe().T)
    
check_df(df)

------------------------------- SHAPE --------------------------------
Rows: 500000
Columns: 4
Columns names : ['customer_id', 'qtt_order', 'total_spent', 'last_order']
------------------------------- TYPES --------------------------------
customer_id      int64
qtt_order        int64
total_spent    float64
last_order      object
dtype: object
--------------------------- MISSING VALUES ---------------------------
customer_id    0
qtt_order      0
total_spent    0
last_order     0
dtype: int64
------------------------- DUPLICATED VALUES --------------------------
0
------------------------------ DESCRIBE ------------------------------
                count           mean            std     min        25%  \
customer_id  500000.0  249999.500000  144337.711635    0.00  124999.75
qtt_order    500000.0     103.669552     135.021089    0.00      25.00
total_spent  500000.0  229051.462125  257414.814877  460.95   63821.45

                   50%         75%         max
customer_id  249999.50  374999.250   499999.00
qtt_order        55.00     120.000     1506.00
total_spent  138864.76  293112.375  2447032.73

In [41]:
all_data['last_order'] = all_data['last_order'].str.split(' ',expand = True)[0]
all_data['last_order'] = pd.to_datetime(all_data['last_order'])

In [42]:
all_data['last_order'].dtype

dtype('<M8[ns]')

In [44]:
all_data['last_order']

0        2022-08-04
1        2022-09-17
2        2022-04-01
3        2022-02-15
4        2022-01-27
            ...
609995   2022-09-25
609996   2022-07-09
609997   2022-07-15
609998   2022-10-01
609999   2022-05-16
Name: last_order, Length: 610000, dtype: datetime64[ns]